@import url(normalize.css);
@import url(fonts.css);

:root {
    --white: #FFFFFF;
    --black: #252B42;
    --grey: #737373;
    --orange: #FF7B47;
    --green: #0D5C63;
    --bg-footer-grey: #F3F3F3;
    --bg-main-grey: #FAFAFA;
    --navy: #17213C;
}

body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    color: var(--grey);
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    background-color: var(--bg-main-grey);
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
[class*="__container"]{
    max-width: 1076px;
    padding: 0 15px;
    margin: 0 auto;
}
._ibg {
    position: relative;
}
._ibg img,
._ibg iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.4;
}
/*-----------HEADER------------*/
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}
.header__container {
    display: flex;
    align-items: center;
    gap: 132px;
    min-height: 104px;
}

@media (max-width: 992px) {
    .header__container {
        gap: 80px;
    }
}
.header__logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
}
.header__logo a {
    color: var(--black);

}
.header__menu {
    display: flex;
    align-items: center;
}
.menu {
    padding: 5px 0;
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
    gap: 21px;
}
.menu__list-item {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.7;
    text-align: center;
    letter-spacing: 0.2px;
}
.menu__link {
    color: var(--grey);
}
@media (max-width: 767px) {
    .header__menu {
        display: none;
    }
}
/*-----------PAGE------------*/
.page {
    flex: 1 1 auto;
}
.page__main-block {}
.page__services {
    position: relative;
    z-index: 2;
    margin-top: -105px;
}
.page__advantages {}
.page__practice {}
.page__whoweare {}
.page__clients {}
.page__subscribe {}
.page__getintouch {}

/*-----------HEADER-BLOCK------------*/
.header-block {
    text-align: center;
}
.header-block__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 142%;
    letter-spacing: 0.2px;
    color: var(--black);
}
.header-block__title:not(:last-child) {
    margin-bottom: 10px;
}
.header-block__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 142%;
    letter-spacing: 0.2px;
}
@media (max-width: 992px) {
    .header-block__title {
        font-size: 35px;
    }
}
@media (max-width: 767px) {
    .header-block__title {
        font-size: 30px;
    }
}

/*-----------HAMBURGER-MENU------------*/
.burger-menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}
@media  (min-width: 768px){
    .burger-menu {
        display: none;
    }
}
.menu-hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 0;
}
.checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    right: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}
.hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: var(--black);
}
.hamburger-lines__1 {
    transform-origin: 0 0;
    transition: transform 0.4s ease-in-out;
}
.hamburger-lines__2 {
    transition: transform 0.2s ease-in-out;
}
.hamburger-lines__3 {
    transform-origin: 0 100%;
    transition: transform 0.4s ease-in-out;
}
.hamburger-lines {
    height: 26px;
    width: 32px;
    position: absolute;
    top: 27px;
    right: 27px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-hamburger__list {
    height: 100vh;
    width: 100%;
    transform: translate(100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    /*margin-left: -40px;*/
    transition: transform 0.5s ease-in-out;
    text-align: center;
    background-color: var(--white);
}
.menu-list__item .menu-hamburger__link {
    font-weight: 500;
    font-size: 1.5rem;
    padding: 0.7rem;
    color: var(--black);
}
.menu-hamburger__link:hover {
    font-weight: bolder;
}
.menu-hamburger input[type="checkbox"]:checked ~ .menu-hamburger__list {
    transform: translateX(0);
}
.menu-hamburger input[type="checkbox"]:checked ~ .hamburger-lines .hamburger-lines__1 {
    transform: rotate(45deg);
}
.menu-hamburger input[type="checkbox"]:checked ~ .hamburger-lines .hamburger-lines__2 {
    transform: scaleY(0);
}
.menu-hamburger input[type="checkbox"]:checked ~ .hamburger-lines .hamburger-lines__3 {
    transform: rotate(-45deg);
}
/*-----------MAIN-BLOCK------------*/
.main-block {
    position: relative;
}
.main-block__container {}
.main-block__body {
    padding: 184px 0 191px 0;
    max-width: 400px;
    position: relative;
    z-index: 2;
}
.main-block__body > *:not(:last-child) {
    margin-bottom: 35px;
}
@media (max-width: 992px) {
    .main-block__body {
        padding: 120px 0 191px 0;
    }
}
@media (max-width: 479px) {
    .main-block__body {
        padding: 115px 0 160px 0;
    }
}
.main-block__title {
    font-weight: 800;
    font-size: 58px;
    line-height: 137%;
    letter-spacing: 0.2px;
    color: var(--black);
}
@media (max-width: 479px) {
    .main-block__title {
        font-size: 42px;
    }
}
.main-block__text {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.2px;
}
@media (max-width: 479px) {
    .main-block__text {
        color: #524F4F;
    }
}
.main-block__buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.main-block__button {
    display: flex;
    padding: 5px 36px;
    min-height: 48px;
    font-weight: 700;
    font-size: 14px;
    line-height: 200%;
    justify-content: center;
    align-items: center;
    border-radius: 37px;
    letter-spacing: 0.2px;
    transition: all 200ms ease-in-out;
}
.main-block__button:hover {
    transform: scale(1.05);
}
@media (max-width: 479px) {
    .main-block__button {
        flex: 1 1 100%;
    }
}
.main-block__button_orange {
    color: var(--white);
    background-color: var(--orange);
}
.main-block__button_border {
    color: var(--green);
    border: 1px solid var(--green);
}
.main-block__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media (max-width: 1300px) {
    .main-block__image img {
        object-position: right;
    }
}
@media (max-width: 992px) {
    .main-block__image {
        opacity: 0.5;
    }
}

/*-----------SERVICES------------*/
.services {}
.services__container {}
.services__body {}
@media (min-width:670px) {
    .services__body {
        display: flex;
        margin: 0 -15px;
        flex-wrap: wrap;
    }
}
.services__column {
    padding: 0 15px;
    flex: 0 1 33.333%;
}
@media (max-width:992px) {
    .services__column {
        flex: 0 1 50%;
        margin-bottom: 30px;
    }
    .services__column:last-child {
        flex: 0 1 100%;
        margin-bottom: 0;
    }
}
.item-services {
    padding: 35px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    background-color: var(--white);
    cursor: pointer;
    box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
    transition: all 300ms ease-in-out;
}
@media (max-width:479px) {
    .item-services {
        padding: 20px;
    }
}
.item-services:hover {
    transform: scale(1.1);
    color: white;
    background-color: var(--green);
}
.item-services:hover .item-services__icon svg path {
    fill: var(--white);
}
.item-services:hover .item-services__title {
    color: var(--white);
}
.item-services__icon {}
.item-services__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.1px;
    color: var(--black);
}
.item-services__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 142%;
    letter-spacing: 0.2px;
}

/*-----------ADVANTAGES------------*/
.advantages {
    padding: 80px 0;
}
@media (max-width: 992px) {
    .advantages {
        padding: 50px 0;
    }
}
@media (max-width: 767px) {
    .advantages {
        padding: 30px 0;
    }
}
.advantages__header {
    margin-bottom: 50px;
}
@media (max-width: 767px) {
    .advantages__header {
        margin-bottom: 30px;
    }
}
.advantages__body {
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
    row-gap: 30px;
}
.advantages__column {
    padding: 0 15px;
    flex: 1 0 25%;
}
@media (max-width:1020px) {
    .advantages__column {
        flex: 1 0 50%;
    }
}
@media (max-width:669px) {
    .advantages__column {
        flex: 1 0 100%;
    }
}
.advantages__item {
    padding: 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
    align-items: center;
    background-color: var(--white);
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.05));
}
.item__icon {}
.item__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 142%;
    letter-spacing: 0.2px;
    color: var(--black);
}
.item__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 142%;
    letter-spacing: 0.1px;
    color: var(--grey);
    text-align: center;
}

/*-----------PRACTICE------------*/
.practice {
    padding: 125px 0 80px 0;
}
@media (max-width:998px) {
    .practice {
        padding: 40px 0 50px 0;
    }
}
@media (max-width:767px) {
    .practice {
        padding: 0 0 30px 0;
    }
}
.practice__container {}
.practice__header {
    margin-bottom: 45px;
}
@media (max-width:767px) {
    .practice__header {
        margin-bottom: 25px;
    }
}
.practice__body {
    display: flex;
    margin: 0 -20px;
    flex-wrap: wrap;
    row-gap: 30px;
}
.practice__column {
    flex: 1 0 25%;
    padding: 0 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: all 200ms ease-in-out;
}
.practice__column:hover {
    transform: scale(1.1);
}
@media (max-width:1040px) {
    .practice__column {
        flex: 1 0 50%;
    }
}
@media (max-width: 669px) {
    .practice__column {
        flex: 1 0 100%;
    }
}
.practice__item {}
.item-practice {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    align-items: center;
}
.item-practice__content {
    padding: 30px;
    flex: 1 1 auto;
}
.item-practice__link {
    display: inline-block;
}
.item-practice__link:hover {
    text-decoration: underline;
    color: #17213C;
}
.item-practice__link:not(:last-child) {
    margin-bottom: 15px;
}
.item-practice__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
    color: var(--black);
}
.item-practice__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 142%;
    letter-spacing: 0.2px;
}
.item-practice__image {
    width: 100%;
    display: block;
    padding-bottom: 60%;
}

/*-----------WHOWHERE------------*/
.whoweare {
    padding: 100px 0;
    background-color: var(--white);
}
.whoweare__header {
    margin-bottom: 100px;
}
.whoweare__body {
    display: flex;
    align-items: flex-start;
    column-gap: 120px;
}
.whoweare__video {
    flex: 0 0 57%;
    position: relative;
    padding: 0 0 42.25% 0;
}
.whoweare__video iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.whoweare__content {
    flex: 1 1 auto;
    padding: 20px 0;
}
.whoweare__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 142%;
    letter-spacing: 0.2px;
    color: var(--black);
}
.whoweare__title:not(:last-child) {
    margin-bottom: 10px;
}
.whoweare__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 142%;
    letter-spacing: 0.2px;
    color: var(--grey);
}
.whoweare__items {
    display: flex;
    gap: 30px;
    flex-direction: column;
    padding-top: 30px;
}
.whoweare__item {
}
.item-whoweare {
    display: flex;
    gap: 20px;
}
.item-whoweare__icon {
    flex: 0 0 32px;
}
.item-whoweare__body {
    flex: 1 1 auto;
}
.item-whoweare__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
    color: var(--black);
}
.item-whoweare__title:not(:last-child) {
    margin-bottom: 5px;
}
.item-whoweare__text {
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.2px;
    color: var(--grey);
    width: 225px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
@media (max-width: 1080px) {
    .whoweare__body {
        column-gap: 50px;
    }
}
@media (max-width:950px) {
    .whoweare {
        padding: 50px 0;
    }
    .whoweare__body {
        flex-direction: column-reverse;
        align-items: stretch;
    }
    .whoweare__title {
        font-size: 24px;
    }
    .whoweare__header {
        margin-bottom: 30px;
    }
    .whoweare__content {
        padding: 0;
        margin-bottom: 50px;
    }
    .whoweare__video {
        padding: 0 0 56.25% 0;
    }
}
@media (max-width:767px) {
    .whoweare {
        padding: 30px 0 50px 0;
    }
}

/*-----------CLIENTS------------*/
.clients {
    padding: 50px 0;
}
@media (max-width:767px) {
    .clients {
        padding: 30px 0;
    }
}
.clients__container {}
.clients__items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.clients__item {
    align-self: baseline;
    padding: 8px 15px;
    flex: 0 1 16.6667%;
    min-width: 140px;
}
.clients__item svg {
    max-width: 100%;
}

/*-----------SUBSCRIBE------------*/
.subscribe {
    position: relative;
    padding-bottom: 20px;
}
.subscribe::before {
    content: '';
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 77px;
    background-color: var(--black);
}
.subscribe__container {}
.subscribe__body {
    background-color: var(--navy);
    padding: 30px 50px;
    position: relative;
    z-index: 2;
    border-radius: 2px;
    align-items: center;
}
@media (min-width: 1070px) {
    .subscribe__body {
        margin: 0 30px;
    }
}
.subscribe__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.1px;
    color: var(--white);
}
@media (max-width: 810px) {
    .subscribe__title {
        margin-bottom: 20px;
    }
    .subscribe__body {
        padding: 20px 15px;
        margin: 0 -15px;
    }
}
@media (min-width: 810px) {
    .subscribe__title {
        max-width: 266px;
    }
    .subscribe__body {
        display: flex;
        justify-content: space-between;
    }
}
.subscribe__form {
    flex: 0 1 50%;
    display: flex;
}
.subscribe__input {
    flex: 1 1 auto;
    min-height: 50px;
    padding: 15px 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: var(--grey);
    border: 1px solid #E6E6E6;
    border-right: 0;
    border-radius: 5px 0 0 5px;
}
.subscribe__input:focus {
    color: #000;
}
.subscribe__button {
    padding: 0 22px;
    background-color: var(--orange);
    border: 1px solid #E6E6E6;
    border-radius: 0 5px 5px 0;
    border-left: 0;
    min-height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--white);
    cursor: pointer;
}
.subscribe__button:hover {
    background-color: #ca6137;
}
@media (max-width: 810px) {
    .subscribe__input {
        padding: 0 22px;
    }
    .subscribe__button {
        padding: 0 15px;
    }
}

/*-----------GETINTOUCH------------*/
.getintouch {
    padding: 80px 0 180px 0;
}
.getintouch__container {}
.getintouch__header:not(:last-child){
    margin-bottom: 110px;
}
.getintouch__body {
    margin: 0 -15px;
}
.getintouch__column {
    flex: 1 0 33.333%;
}
.getintouch__item {}
.item-getintouch {
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    background-color: var(--white);
    border: 2px solid var(--bg-main-grey);
    transition: all 200ms ease-in-out;
}
.item-getintouch:hover,
.item-getintouch:hover .item-getintouch__label,
.item-getintouch:hover .item-getintouch__email {
    transform: scale(1.05);
    color: var(--white);
    background-color: var(--navy);
}
.item-getintouch:hover .item-getintouch__icon svg path {
    fill: var(--white);
}
.item-getintouch:hover .item-getintouch__button {
    border-color: var(--white);
    color: var(--white);
}
.item-getintouch__icon {}
.item-getintouch__emails {
    text-align: center;
}
.item-getintouch__email {
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.2px;
    color: var(--black);
}
.item-getintouch__email:hover {
    text-decoration: underline;
}
.item-getintouch__label {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
    color: var(--black);
}
.item-getintouch__button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 44px;
    border: 1px solid var(--orange);
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.2px;
    color: var(--orange);
}
@media (min-width: 992px) {
    .getintouch__body {
        margin: 0 30px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}
@media (max-width: 992px){
    .getintouch {
        padding: 50px 0;
    }
    .getintouch__header:not(:last-child) {
        margin-bottom: 50px;
    }
}
@media (max-width: 767px) {
    .getintouch {
        padding: 30px 0;
    }
}

/*-----------CONTACT------------*/
.page__contact {
    background-color: var(--white);
}
.contact {
    padding: 40px 0 40px 0;
}
.contact__body {
    display: flex;
    justify-content: space-between;
}
.contact__content {}
.contact__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.1px;
    color: var(--black);
}
.contact__title:not(:last-child) {
    margin: 0 0 10px 0;
}
.contact__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 142%;
    letter-spacing: 0.2px;
}
.contact__button {
    display: flex;
    padding: 15px 40px;
    max-height: 58px;
    justify-content: center;
    align-items: center;
    background-color: var(--orange);
    border-radius: 5px;
    border: 2px solid var(--orange);
    font-weight: 700;
    font-size: 14px;
    line-height: 200%;
    letter-spacing: 0.2px;
    color: var(--white);
}
.contact__button:hover {
    background-color: #aa5330;
}
@media(max-width: 767px) {
    .contact__body {
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
    }
    .contact__content {
        text-align: center;
    }
}

/*-----------FOOTER------------*/
.footer {}
.footer-top {
    padding: 50px 0;
    background-color: var(--navy);
    color: var(--white);
}

/*-----------FOOTER-TOP------------*/
.footer__main {}
.footer__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
@media (max-width: 1000px) {
    .footer__row {
        display: none;
    }
}
.footer__column {
    padding: 15px;
    flex: 1 0 16.6667%;
}
.footer__column:last-child {
    flex: 0 1 33.334%;
}
.footer__label {
    margin: 0 0 20px 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
}
.footer__menu {}
.menu-footer {}
.menu-footer__list {}
.menu-footer__item:not(:last-child) {
    margin: 0 0 10px 0;
}
.menu-footer__link {
    color: var(--white);
    display: inline-block;
    line-height: 171%;
    letter-spacing: 0.2px;
}
.menu-footer__link:hover {
    text-decoration: underline;
}
.footer__contacts {}
.contacts-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contacts-footer__item {
    padding: 0 0 0 34px;
    display: flex;
    align-items: center;
    color: var(--white);
    line-height: 142%;
    letter-spacing: 0.2px;
    min-height: 30px;
}
.contacts-footer__item:hover {
    text-decoration: underline;
}
.contacts-footer__item_phone {
    background: url("/img/footer-lists/phone.svg") 0 0 no-repeat;
}
.contacts-footer__item_map {
    background: url("/img/footer-lists/map.svg") 0 0 no-repeat;
}
.contacts-footer__item_mailto {
    background: url("/img/footer-lists/email.svg") 0 0 no-repeat;
}

/*-----------FOOTER-ACCORDION------------*/
.footer__accordion {
    display: block;
    margin: 0 auto;
    max-width: 900px;
}
.accordion-footer {}
.accordion-footer__item {
    position: relative;
    padding: 10px;
    max-height: 80px;
    overflow: hidden;
}
.accordion-footer__item[open] {
    max-height: 1000px;
    transition: all 500ms ease-in-out;
}
.accordion-footer__list-item {
    padding-bottom: 20px;
    border-bottom: 2px solid var(--grey);
}
.accordion-footer__item[open] .accordion-footer__arrow {
    transform: rotate(180deg);
}
.accordion-footer__summary {
    overflow: hidden;
    padding: 0 0 20px 0;
    border-bottom: 2px solid var(--grey);
    list-style: none;
    cursor: pointer;
}
.accordion-footer__summary::-webkit-details-marker {
    display: none;
}
.accordion-footer__arrow {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 20px;
    right: 20px;
}
.accordion-footer__arrow_transition {
    transition: all 500ms ease-in-out;
}
@media (min-width: 1000px) {
    .footer__accordion {
        display: none;
    }
}

/*-----------FOOTER-BOTTOM------------*/
.footer-bottom {
    padding: 25px 0 25px 0;
}
.footer-bottom__container {}
.footer-bottom__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-bottom__copy {
    min-width: 370px;
    line-height: 171%;
    letter-spacing: 0.2px;
}
.footer-bottom__social {}
.social {
    display: flex;
    gap: 20px;
    padding: 0 40px;
    align-items: center;
    justify-content: center;
}
.social__link {
    width: 24px;
    height: 24px;
}
.social__link svg {
    width: 100%;
    height: 100%;
}
@media (max-width: 767px) {
    .footer-bottom__body {
        flex-direction: column;
        gap: 30px;
    }
    .footer-bottom__copy {
        text-align: center;
    }
}